venv/
env/
.venv/
virtualenv/
.env
.env/
.pyc
*.pyc
.env.local/
.env.development.local/
.env.test.local/
.env.production.local/
**/backend/data/**
**/backend/logs
**/backend/app/data_download/data/**
backend/.env
modules/data-pipeline/data/**/*.csv
modules/data-pipeline/logs/
modules/data-pipeline/logs/*.log
**/backend/csv/**    */
backend/csv/Webull_Orders_Records_Options.csv
backend/csv/data.csv
